/* ________ REGOLE GENERALI ________ */
section {
  margin-top: 45px;
}

#search-results {
  margin-top: 70px;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;;
}

.border {
  position: absolute;
  top: 0;
}

#map-search {
  height: 100vh;
  z-index: 0;
  position: fixed;
  width: 50%;
  top: 70px;
};

#map-show {
  height: 300px;
  z-index: 0;
};

.img-user-apart {
  width: 200px;
}
