/* ________ REGOLE GENERALI ________ */
img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;;
}

.border {
  position: absolute;
  top: 0;
}

/* ________ SEZIONI ________ */
section {
  margin: 70px 0;
}

.input-search {
  margin: 45px 0;
}

/* ________ MAPPE ________ */
#map-search {
  height: 100vh;
  z-index: 0;
  position: fixed;
  width: 50%;
  top: 86px;
};

#map-show {
  height: 300px;
  z-index: 0;
};

.img-user-apart {
  width: 200px;
}
