// HEADER
header {
  .my-nav {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 2345;
    .logo {
      height: 70px;
      width: 134px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
