// MAIN
main {

  //SEZIONE JUMBO
  .jumbo-col {
    padding: 0;

    .jumbo {
      position: relative;
      background-image: url("/images/jumbo_03.gif");
      background-repeat: no-repeat;
      height: 700px;
      background-size: cover;

      .jumbo-title {
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        font-weight: bold;
        color: white;
        padding-left: 50px;

        h1 {
          font-size: 45px;
        }
      }

      //input ricerca index
      .form-search-apartment {
        .form-group {
          padding-top: 100px;

          //input
          .ap-input {
            height: 60px;
          }
        }

        //bottone
        .btn-index-search {
          border-radius: 30px;
          height: 50px;
        }
      }
    }
  }

  //SEZIONE INPUT DI RICERCA
  .form-search-apartment {
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;

    .form-group {
      width: 600px;
      display: flex;
      align-items: center;
      position: relative;

      //input
      .ap-input {
        border-radius: 50px;
        height: 40px;
        transition: 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        }
      }
    }

    //bottone
    .btn-index-search {
      border-radius: 30px;
      border: none;
      outline: none;
      width: 90px;
      height: 30px;
      background: #3e489b;
      position: absolute;
      right: 5px;
      color: white;

      .search-icon {
        padding-right: 5px;
      }
    }
  }

  //SEZIONE LISTA APPARTAMENTI
  .heading {
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;
    padding: 0;

    display: block;
    height: 50px;
    margin: 1em 0 0;
    position: relative;

    span {
      background: $body-bg;
      border: 5px solid $sky-color;
      border-radius: 30px;
      box-shadow: 0 0 0 5px $body-bg, inset 0 0 0 5px $body-bg;
      display: block;
      margin: 0 0 0 50px;
      padding: 10px 30px 5px;
      position: absolute;
      top: 50%;
      transform-origin: top left;
      z-index: 30;
      color: $red-color;
    }
  }

  .card-sponsored {
    // background-color:  $red-color;
    background-image: url("/images/sfondo-app_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 70px;

    .sponsored-apartments {
      .single-apartment {
        // margin: 0;
      }
    }
  }

  .card-normal {
    background-color: $light-color;
    padding: 30px 70px;
  }

  .apartments {
    padding: 50px 0;

    .single-apartment {
      margin-bottom: 40px;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
      &:hover .img-container {
        box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.5);
      }

      a {
        text-decoration: none;
        color: white;

        .img-container {
          position: relative;
          height: 250px;
          overflow: hidden;
          display: flex;
          border-radius: 20px;
          transition: 0.3s ease-in-out;
          z-index: 1;

          .apartment-image {
            transform: scale(1.7);
          }

          &:hover {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        .title-container {
          position: relative;
          bottom: 110px;
          background-color: rgba(0,0,0,0.7);
          color: white;
          padding: 15px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: 0.2s ease-in-out;
          z-index: 0;

          h5 {
            font-weight: bold;
          }

          p {
            @include hidden-partials-text;
            -webkit-line-clamp: 2;
            font-size: 13px;
            line-height: 1.3;
            margin: 0;
          }
        }

        &:hover .title-container {
          bottom: 1px;

        }
        &:hover .img-container {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

      }

    }
  }

  //SEZIONE SEARCH
  #search-results {
    #filters-container {
      .form-search-apartment {
        .form-group {
          width: 100%;
        }

        .filters {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          label {
            padding-left: 20px;
          }

          .my-number {
            padding: 0 15px;
          }

          .title-services {
            padding: 20px 0 10px;
          }
        }

        #filters-drop {
          display: none;
        }

        #btn-search {
          position: relative;
          right: 0;
        }
      }

      #btn-slide {
        background-color: #3e489b;
        color: white;
        font-size: 20px;
        width: 90px;
        height: 30px;
        border-radius: 30px;
        position: relative;
        left: 50%;
        cursor: pointer;
        top: -15px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          padding-left: 5px;
          font-size: 15px;
        }
      }
    }

    .sponsored-apartments {
      #carousel {
        width: 100%;

        .single-sponsored {
          padding: 5px;

          h2 {
            padding-top: 10px;
            font-size: 17px;
          }

          .img-sponsored {
            position: relative;
            height: 200px;

            .dark-filter {
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 105%;
              z-index: 2;
              bottom: -5px
            }

            img {
              position: relative;
              bottom: 90%;
            }
          }
        }
      }
    }

    .single-apartment {
      .apartment-image {
        // img{
        //   width: 100%;
        // }
      }
    }
  }

  // SEZIONE SHOW
  .show {
    .apartment-informations,
    .apartment-map,
    .apartment-email {
      .card-body {
        background-color: #f8fafc;
      }
    }
    .btn-style {
      border-radius: 18px;
    }
  }

  // SEZIONE APPARTAMENTI UTENTI
  #user-apartments {
    .heading {
      height: auto;
      background: white;
      border: 5px solid $sky-color;
      border-radius: 30px;
      box-shadow: 0 0 0 5px white, inset 0 0 0 5px white;
      margin: 100px 0 50px;
      padding: 10px 30px 5px;
      color: $red-color;
    }

    .card {
      a {
        padding: 1.25rem;
      }
    }

    .card-body {
      flex-basis: 0;

      h5 {
        font-weight: bold;
      }

      p {
        @include hidden-partials-text;
        -webkit-line-clamp: 3;
      }
    }

    .card-footer {
      border: none;
      .status {
        border-radius: 30px;
        color: white;
        text-align: center;
        font-weight: bold;
        margin: 30px 0;

        &.active {
          background-color: green;
        }
        &.disabled {
          background-color: red;
        }
      }
    }
  }

}

/////////////// MEDIA QUERY //////////////////
@media (max-width: 575.98px) {
  main {
    .jumbo-col .jumbo{
      height: 300px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 300px;
        width:300px;
        .btn-index-search {

        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    .jumbo-col .jumbo{
      height: 400px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 400px;
        width:400px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    .jumbo-col .jumbo{
      height: 500px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 500px;
        width: 500px;

      }
    }
  }
}
