// MAIN
main {
  //SEZIONE JUMBO

  .jumbo-col {
    padding: 0;
    .jumbo {
      background-image: url("/images/jumbo_03.gif");
      background-repeat: no-repeat;
      height: 700px;
      background-size: cover;
      align-items: center;

    }
  }


  //SEZIONE INPUT DI RICERCA
  .form-search-apartment {
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;
    padding-top: 25px;

    .form-group {
      max-width: 600px;
      width:600px;
      display: flex;
      align-items: center;

      .ap-input {
        border-radius: 20px;
        transition: 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        }
      }
    }

    .btn-index-search {
      border-radius: 30px;
      background: transparent;
      border: none;
      outline: none;
      width: 90px;
      height: 30px;
      background: #3e489b;
      position: relative;
      right: 87px;
      color: white;

      .search-icon {
        padding-right: 5px;
      }
    }
  }

  //SEZIONE LISTA APPARTAMENTI
  .heading {
    padding-bottom: 20px;
  }

  .apartments {
    margin-bottom: 80px;

    .single-apartment {
      margin-bottom: 20px;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
      &:hover .img-container {
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
      }

      a {
        text-decoration: none;
        color: white;

        .img-container {
          position: relative;
          height: 250px;
          overflow: hidden;
          display: flex;
          align-items: center;
          border-radius: 20px;
          transition: 0.2s ease-in-out;

          .apartment-image {
            transform: scale(1.7);
          }

          .title-container {
            padding-top: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            h2 {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              text-shadow: 1.2px 1.2px rgba(0,0,0,0.7);
            }
          }

          &:hover .title-container{
            display: block;
          }
        }

      }

    }
  }

  //SEZIONE SEARCH
  #search-results {

    #btn-search {
      right: 0;
    }

    .form-group {
      width: 100%;

      .my-number {
        padding: 0 15px;
      }

    }

    .heading {
      padding-bottom: 5px;
    }

    .sponsored-apartments {
      overflow: auto;

      .single-sponsored {
        padding: 5px;

        h2 {
          padding-top: 10px;
          font-size: 17px;
        }

        .img-sponsored {
          position: relative;

          img {
            width: 200px;
          }
        }

      }
    }

    .single-apartment {
      .apartment-image {
        // img{
        //   width: 100%;
        // }
      }
    }
  }

  // SEZIONE SHOW
  .show {
    .apartment-informations,
    .apartment-map,
    .apartment-email {
      .card-body {
        background-color: #f8fafc;
      }
    }
    .btn-style {
      border-radius: 18px;
    }
  }

}
@media (max-width: 575.98px) {
  main {
    .jumbo-col .jumbo{
      height: 300px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 300px;
        width:300px;
        .btn-index-search {

        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    .jumbo-col .jumbo{
      height: 400px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 400px;
        width:400px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    .jumbo-col .jumbo{
      height: 500px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 500px;
        width: 500px;

      }
    }
  }
}
