// MAIN
main {

  //SEZIONE JUMBO
  .jumbo-col {
    padding: 0;
    .jumbo {
      position: relative;
      background-image: url("/images/jumbo_03.gif");
      background-repeat: no-repeat;
      height: 700px;
      background-size: cover;

      .jumbo-title {
        position: absolute;
        top: 50%;
        left: 0;
        width: 30%;
        font-weight: bold;
        color: white;
        padding-left: 50px;

        h1{
          font-size: 65px;
        }
      }

      //input ricerca index
      .form-search-apartment {
        .form-group {
          padding-top: 100px;

          //input
          .ap-input {
            height: 60px;
          }
        }

        //bottone
        .btn-index-search {
          border-radius: 30px;
          height: 50px;
        }
      }
    }
  }

  //SEZIONE INPUT DI RICERCA
  .form-search-apartment {
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;
    padding-top: 25px;

    .form-group {
      max-width: 600px;
      width:600px;
      display: flex;
      align-items: center;
      position: relative;

      //input
      .ap-input {
        border-radius: 50px;
        height: 40px;
        transition: 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        }
      }
    }

    //bottone
    .btn-index-search {
      border-radius: 30px;
      border: none;
      outline: none;
      width: 90px;
      height: 30px;
      background: #3e489b;
      position: absolute;
      right: 5px;
      color: white;

      .search-icon {
        padding-right: 5px;
      }
    }
  }

  //SEZIONE LISTA APPARTAMENTI
  .heading {
    // padding-bottom: 20px;
    // background: white;
    display: block;
    height: 50px;
    margin: 1em 0 0;
    position: relative;
    span {
      background: $body-bg;
      border: 5px solid;
      border-radius: 30px;
      box-shadow: 0 0 0 5px $body-bg, inset 0 0 0 5px $body-bg;
      display: block;
      margin: 0 0 0 50px;
      padding: 10px 30px 5px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform-origin: top left;
      z-index: 30;
    }
    &:before {
      // box-shadow: 0 0 0 5px white;
      content: "";
      height: 5px;
      left: -5%;
      position: absolute;
      top: 50%;
      transform-origin: top left;
      width: 110%;
      z-index: 30;
    }
    &:after {
      bottom: -40px;
      content: "";
      height: 50px;
      left: -5%;
      position: absolute;
      width: 110%;
      z-index: 20;
    }
  }

  .card-sponsored {
    background-color:  $red-color;
    padding: 30px 70px;

    .sponsored-apartments {
      .single-apartment {
        // margin: 0;
      }
    }
  }

  .card-normal {
    background-color: $light-color;
    padding: 30px 70px;
  }

  .apartments {
    padding: 50px 0;

    .single-apartment {
      margin-bottom: 40px;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
      &:hover .img-container {
        box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.5);
      }

      a {
        text-decoration: none;
        color: white;

        .img-container {
          position: relative;
          height: 250px;
          overflow: hidden;
          display: flex;
          border-radius: 20px;
          transition: 0.3s ease-in-out;
          z-index: 1;

          .apartment-image {
            transform: scale(1.7);
          }

          &:hover {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }

        .title-container {
          position: relative;
          bottom: 110px;
          background-color: white;
          color: black;
          padding: 15px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          transition: 0.2s ease-in-out;
          z-index: 0;

          h5 {
            font-weight: bold;
          }

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 13px;
            line-height: 1.3;
            margin: 0;
          }
        }

        &:hover .title-container {
          bottom: 1px;
        }
        &:hover .img-container {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

      }

    }
  }

  //SEZIONE SEARCH
  #search-results {

    #btn-search {
      right: 0;
    }

    .form-group {
      width: 100%;

      .my-number {
        padding: 0 15px;
      }

    }

    .heading {
      padding-bottom: 5px;
    }

    .sponsored-apartments {
      overflow: auto;

      .single-sponsored {
        padding: 5px;

        h2 {
          padding-top: 10px;
          font-size: 17px;
        }

        .img-sponsored {
          position: relative;

          img {
            width: 200px;
          }
        }

      }
    }

    .single-apartment {
      .apartment-image {
        // img{
        //   width: 100%;
        // }
      }
    }
  }

  // SEZIONE SHOW
  .show {
    .apartment-informations,
    .apartment-map,
    .apartment-email {
      .card-body {
        background-color: #f8fafc;
      }
    }
    .btn-style {
      border-radius: 18px;
    }
  }

}

/////////////// MEDIA QUERY //////////////////
@media (max-width: 575.98px) {
  main {
    .jumbo-col .jumbo{
      height: 300px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 300px;
        width:300px;
        .btn-index-search {

        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    .jumbo-col .jumbo{
      height: 400px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 400px;
        width:400px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main {
    .jumbo-col .jumbo{
      height: 500px;
    }
    .form-search-apartment{
      .form-group {
        max-width: 500px;
        width: 500px;

      }
    }
  }
}
