// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Comfortaa', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//palette pagina
$sky-color: #2174ec;
$blue-color: #5408f8;
$light-color: #c5b3e8; //cambiare nome perchè non capisco che colore sia
$red-color: #d21625; 
