// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//palette pagina
$blu-color: #2174ec;
$light-color: #c5b3e8; //cambiare nome perchè non capisco che colore sia
$red-color: #d21625; //o è marrone?
